span {
  font-size: 70px;
  margin: auto 5px;
}

.container {
  height: 90vh;
}

#date {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  padding: 10px 20px;
  border-radius: 20px;
  color: rgb(57, 57, 57);
  font-size: 50px;
}

#ampm {
  color: rgb(248, 136, 0);
}

@media (max-width: 576px) {
  span {
    font-size: 50px;
    margin: 0;
  }

  #date{
    font-size: 30px;
  }
}
